@import "reset";
@import "mixin";


.logo{
    margin-left: 15%;
    font-weight: bold;
    color: white;
    margin-top: 40px;
    z-index: 3;
}

header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: black;
    opacity: 0.2;
    margin-top: -58px;
    z-index: 2;
}

nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    
    & ul{
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        
        & li{
            margin: 0 10px;
            z-index: 4;

            & a{
                color: white;
                transition: 0.4s;
            }

            & a:hover{
                color: black;
                padding: 40px 10px;
                background-color: yellow;
            }
        } 

    }
       

}


.call{
    font-weight: bold;
    margin-right: 15%;
    z-index: 3;
    color: white;
    margin-top: 40px;
}


.maincontent{
    

    & .mainimg{
        position: relative;
        margin-top: -150px;
        width: 100%;
        height: 710px;
        
    }

    & h1{
        position: absolute;
        font-size: 50px;
        margin-left: 15%;
        color: white;
        z-index: 4;
        margin-top: -67vh;
    }
    
    & h5{
        position: absolute;
        margin-left: 15%;
        color: white;
        z-index: 3;
        margin-top: -45vh;
    }

    & button{
        position: absolute;
        display: block;
        width: 150px;
        height: 40px;
        background-color: rgb(255, 198, 52);
        margin-left: 15%;
        color: black;
        z-index: 3;
        margin-top: -38vh;
        border: 0px solid;
        @include border-radius(3px);
    }
}

.secondcontent{
    position: relative;
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 650px;
    margin-top: 0px;

    & h1{
        text-align: center;
        padding-top: 75px;
        letter-spacing: 1px;
    }
    & h5{
        text-align: center;
        margin-top: 10px;
    }

    & img{
        width: 575px;
        height: 375px;
        margin-top: -250px;
        margin-left: 50%;
    }

    & p{
        margin-left: 15%;
    }

    & .tarih{
        margin-top: 70px;
        font-size: 35px;
        color: rgb(60, 60, 60);
    }
     
    & .metin{
        margin-top: 15px;
        font-size: 15px;
        color: rgb(60, 60, 60);
    }

    & .tarih2{
        margin-top: 50px;
        font-size: 35px;
        color: rgb(60, 60, 60);
    }
     
    & .metin2{
        margin-top: 15px;
        font-size: 15px;
        color: rgb(60, 60, 60);
    }

    & button{
        display: block;
        width: 150px;
        height: 40px;
        background-color: rgb(255, 198, 52);
        margin-left: 15%;
        color: black;
        z-index: 3;
        margin-top: -11vh;
        border: 0px solid;
        @include border-radius(3px);
    }
}


.services{

    & h1{
        text-align: center;
        padding-top: 75px;
        letter-spacing: 1px;
    }
    & h5{
        text-align: center;
        margin-top: 10px;
    }

    & .products{
        display: flex;
        flex-direction: row;
        margin-left: 255px;

        & img{
            
            width: 250px;
            height: 350px;
            margin-left: 25px;
            margin-top: 75px;
        }
    }

    
}

.news{
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 750px;
    margin-top: 120px;

    & h1{
        text-align: center;
        padding-top: 75px;
        letter-spacing: 1px;
    }
    & h5{
        text-align: center;
        margin-top: 10px;
    }

    & img{
        position: absolute;
        width: 500px;
        height: 350px;
        margin-top: 75px;
        margin-left: 15%;
    }

    & table{
        position: absolute;
        width: 500px;
        height: 100px;
        margin-top: 425px;
        margin-left: 15%;
        background-color: rgb(255, 198, 52);
    }

    & p{
        margin-left: 750px;
    }

    & .baslik{
        text-transform: uppercase;
        margin-top: 86px;
        font-size: 25px;
        color: rgb(60, 60, 60);
    }

    & .tarih{
        font-size: 15px;
        margin-top: 15px;
        color: rgb(255, 198, 52);
    }
     
    & .metin{
        margin-top: 15px;
        font-size: 15px;
        color: rgb(60, 60, 60);
    }

    & .more{
        margin-top: 25px;
        font-size: 13px;
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }

    & .baslik2{
        text-transform: uppercase;
        margin-top: 70px;
        font-size: 25px;
        color: rgb(60, 60, 60);
    }

    & .tarih2{
        font-size: 15px;
        margin-top: 15px;
        color: rgb(255, 198, 52);
    }
     
    & .metin2{
        margin-top: 15px;
        font-size: 15px;
        color: rgb(60, 60, 60);
    }

    & .more2{
        margin-top: 25px;
        font-size: 13px;
        color: rgb(0, 0, 0);
        font-weight: bolder;
    }


}

footer{
    width: 100%;
    height: 175px;
    background-color: rgb(49, 49, 49);
}